<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>

    <section class="page-404">
        <div class="container my-5 text-center">
            <p class="text-align fs-2"></p>
            <h1>404</h1>
            <h2>Página no encontrada</h2>
            {{#if mensaje}}
            <p>{{mensaje}}</p>
            {{/if}}

            <a href="/" class="btn btn-main"><i class="bi bi-box-arrow-in-left"></i>Volver al inicio</a>
        </div>
    </section>

    {{> footer}}


</body>

</html>