<!DOCTYPE html>
<html lang="en">

<head>
   {{> head}}
</head>

<body>

{{> header}}

{{> nav}}

    <section class="d-flex justify-content-center align-content-center my-5">
        <h1 class="page-name text-info">Cómo comprar</h1>
    </section>

    <section class="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Cómo comprar</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, repudiandae.</p>
                    <p>admin@mail.com</p>
                </div>
                <div class="col-md-8">
                    <h4>Proceso de compra</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas iusto, alias, tempora fuga
                        quam
                        eveniet neque excepturi aliquid. Eligendi, mollitia.</p>
                    <h4>Envios</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam voluptatibus, incidunt similique
                        nobis sint quisquam nam ab error consequuntur sit ullam ex eum exercitationem, excepturi
                        explicabo
                        beatae eos aspernatur odit ad perspiciatis, neque saepe magni enim. Maiores quia, quae sequi.
                    </p>
                    <h4>Medios de pago</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus repellat id, laboriosam
                        ipsa
                        repudiandae quisquam, suscipit officiis, praesentium itaque facilis distinctio dolorum. Velit
                        reiciendis libero laudantium corporis, delectus impedit sunt.</p>
                    <h4>Devoluciones</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam eaque nam, ab voluptas et
                        debitis
                        sint hic vel ratione dignissimos.</p>

                </div>
            </div>
        </div>
    </section>

   {{> footer}}


</body>

</html>