<!DOCTYPE html>
<html lang="en">

<head>
   {{> head}}
</head>

<body>

{{> header}}

{{> nav}}

    <section class="single-product">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-5">
                    <img src='/uploads/x1_carbon_4_3.jpg-1654801811279.jpg' alt='' class="img-fluid" />
                </div>
                <div class="col-md-7">
                    <div class="single-product-details">
                        <h2>Lenovo X200</h2>
                        <p class="product-price">$ 319.062,15</p>

                        <p class="mt-2">
                            Es una lenovo requete ... CARAA!
                        </p>

                        <ul>
                            <li> i7 </li>
                            <li> 11gen </li>
                            <li> 256gb SSD </li>
                            <li> 16 gb RAM </li>
                        </ul>

                        <a href="mailto:comprar@comprar.com?subject=interes en el producto Lenovo X200 ID: 1"
                            class="btn btn-info mt-20">Comprar</a>

                    </div>
                </div>
            </div>

        </div>
    </section>
   {{> footer}}

</body>

</html>