<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body id="backend">
    <h1>Panel de control</h1>
    <div class="container mb-4">

       {{>header }}

       {{> nav}}
        <div class="table-responsive mt-4">

            <table class="table caption-top">
                <caption>Lista de productos</caption>
                <thead class="table-light">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Imagen</th>
                        <th scope="col" style="max-width: 30%">Descripcion</th>
                        <th scope="col" style="max-width: 10%">Características</th>
                        <th scope="col" style="max-width: 5%">Precio ($)</th>
                        <th scope="col" style="max-width: 5%">Acciones</th>
                    </tr>
                </thead>

                <tbody id="admin-productos">
                    <tr>
                        <th scope="row">1</th>
                        <td>Lenovo X200</td>
                        <td><img src="../../uploads/x1_carbon_4_3.jpg-1654801811279.jpg" alt="imagen de Lenovo X200">
                        </td>
                        <td class="descripcion">
                            <div>Es una lenovo requete ... CARAA! </div>
                        </td>
                        <td class="caracteristicas">

                            <ul>
                                <li> i7 </li>
                                <li> 11gen </li>
                                <li> 256gb SSD </li>
                                <li> 16 gb RAM </li>
                            </ul>
                        </td>
                        <td>$ 319.062,15 </td>
                        <td>
                            <a href="editar-producto.html">Editar </a><br>
                            <a href="../borrar/1">Borrar</a>
                        </td>
                    </tr>

                </tbody>

            </table>
            <a href="agregar-producto.html" class="btn btn-info">Agregar producto</a>

        </div>

    </div><!-- /container -->

   {{>footer }}



</body>

</html>