<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body id="backend">
    <h1>Agregar producto</h1>
    <div class="container mb-4">
        {{>header }}

        {{> nav}}
        <div class="agregar-producto mt-4">
            {{#if mensaje}}
                                                   
                <div class="text-center alert alert-success" role="alert" >{{mensaje}}</div>

            {{/if}}
            <form action="/agregar-producto" method="post">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="row">
                            <div class="mb-3 col-12 col-md-6">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre del producto"
                                    name="nombre" required>
                            </div>


                            <div class="mb-3 col-12 col-md-6">
                                <label for="precio" class="form-label">Precio (u$s)</label>
                                <input type="text" class="form-control" id="precio" placeholder="$ Precio en dólares"
                                    name="precio" required>
                            </div>
                        </div>


                        <div class="col-12" id="">
                            <div class="row">
                                <div class="col-6">
                                    <label for="imagenDeProducto" class="form-label ">URL imagen</label>
                                    <input type="text" name="rutaImagen">
                                </div>
                                <div class="col-6">
                                    <label for="stock">Stock</label>
                                    <input type="number" name="stock" id="stock">
                                </div>
                            </div>

                        </div>



                    </div>
                    <div class="col-12 col-md-6 col-lg-8">
                        <div class="row">
                            <div class="mb-3 col-8">
                                <label for="descripcion" class="form-label">Descripcion</label>
                                <textarea class="form-control" id="descripcion" rows="6"
                                    placeholder="Descripcion del producto" name="descripcion"></textarea>
                            </div>
                            <div class="mb-3 col-4">
                                <label for="caracteristicas" class="form-label">Caracteristicas</label>
                                <textarea class="form-control" id="caracteristicas" rows="6"
                                    placeholder="Separar con coma las características"
                                    name="caracteristicas"></textarea>
                            </div>
                        </div>
                    </div>

                </div>



                <button type="submit" class="btn btn-info">Agregar</button>
                <a href="/admin" class="btn btn-info">Volver al listado de productos</a>
            </form>
        </div>
    </div>

    {{> footer}}


    <script>


    </script>

</body>

</html>